<div class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand logo mr-auto" href="/">NOTEMON </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/Reports">Artigos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users">Users</a>
        </li>

    </ul>
    <a class="btn btn-danger" style="float: right;" href="/logout">Logout</a>
</div>